.todo__alert--success {
    padding: 10px 30px;
    background-color: #d1e7dd;
    border-color: #badbcc;
    color: #0f5132;
}

.todo__content {
    max-width: 1230px;
    padding: 60px 15px;
    margin: 0 auto;
}

.todo__form {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.form__item {
    width: 70%;
}

.form__item-input {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
    appearance: none;
}

.form__button {
    margin-left: 60px;
    width: 20%;
}

.form__button-submit {
    border-radius: 3px;
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: black;
    cursor: pointer;
}

.todo-table {
    text-align: center;
    max-width: 1230px;
}


.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
}

.todo-table__header {
    font-weight: bold;
    font-size: 25px;
    
    padding-top: 50px;
    text-align: left;
}

.todo-table__border {
    border-bottom: 1px solid #ddd;
}

.todo-table__content {
    margin: 50px 0;

}

.todo__form-content {
    padding: 15px 0;
}

.todo-table__text {
    text-align: left;
}

.todo-input__text {
    border: none;

    margin: 20px 0;
}

.todo-button {
    width: 60px;
}

.todo-button__update {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: blue;
    color: #fff;
}

.todo-button__delete {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: red;
    color: #fff;
}